# Base de datos
MONGODB_URI=mongodb://127.0.0.1:27017/soft-gestion-isp-core

# Seguridad / Auth
AUTH_SECRET=poner_una_clave_larga_y_segura

# Administrador inicial
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@demo.com
ADMIN_PASSWORD=Admin123456

# Marca del sistema
NEXT_PUBLIC_APP_NAME=Soft Gestión ISP
NEXT_PUBLIC_ISP_NAME=Nombre del ISP
NEXT_PUBLIC_SUPPORT_EMAIL=soporte@isp.com
NEXT_PUBLIC_SUPPORT_PHONE=+54 000 000000